
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
@font-family: 'Roboto', sans-serif;
@border-radius-base: 5px;
@height-base: 38px;
@height-lg: 46px;
@height-sm: 30px;
@form-item-margin-bottom: 12px;
@form-vertical-label-padding: 0 0 4px;
// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */

.u-text-center{
  text-align: center;
}
